extends layout

block layout-content
  div.View
    h1.Banner Welcome
    div.Message
      div.Title
        h3 lipsom
        h1 blah
      span.Details asdasdasdas
    div.NavButtons
      a(href="/user")
          div.NavButton Just dive in!